:root {
  /* CTAs  Focused  Active states  Links */
  --iris: #4d5ae5;
  /* CTAs */
  --ocean: #404bbf;
  /* Overlays Shadows Headings */
  --navy-blue: #2e2f42;
  /* Valid fields Success messages */
  --green: #31d0aa;
  /* Body text */
  --slate: #434455;
  /* Helper text Deemphasized text */
  --light-slate: #8e8f99;
  /* Accent colorn Hairlines Subtle backgrounds */
  --cornflower: #e7e9fc;
  /* Light mode backgrounds
Light mode Dialogs/alerts */
  --cloud: #f4f4fd;
  /* Overlay */
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  /* Hero image background */
  --grey: rgba(46, 47, 66, 0.7);
  /* Header,  team card background */
  --white: #ffffff;
  /* Modal background */
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.list {
  list-style-type: none;
}

/* посилання */

.link {
  text-decoration: none;
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--iris);
}

/* логотип */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
  text-decoration: none;
}
.logo span {
  color: var(--navy-blue);
}

/* голоана навігація */

.site-nav-link {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}
/* кнопки */

.button {
  cursor: pointer;
}

.products-list-btn {
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--cloud);
}

.products-list-btn:hover .products-list-btn:active {
  color: var(--white);
  background-color: var(--ocean);
}

/* «C3» Інтерактивні елементи (кнопки і посилання), при наведенні мишкою або фокусі з клавіатури, мають активний стан, вказаний в Style guide (зміна кольору).

«С4» Текст контактів в хедері змінює колір при ховері і фокусі. */

/* шапка сайту */

/* логотип в шапці */
/* портфоліо */

.products-list-item-btn {
  color: var(--iris);
  text-align: center;
  background-color: var(--cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 1px solid var(--cornflower);
}

.products-list-item-btn:hover {
  background-color: var(--ocean);
  color: var(--white);
}

/* заголовки 3 */
.examples-title,
.feature-list-title,
.team-list-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
/* заголовки 4 */
.examples-text,
.team-list-item-position,
.feature-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}
.footer .logo span {
  color: var(--cloud);
}
.slogan {
  /* Body */
  line-height: 1.5;
  letter-spacing: 0.32px;
}
a .slogan-studio {
  color: var(--cloud);
}

.hero {
  background-color: var(--navy-blue);
}

.hero {
  text-align: center;
  color: var(--white);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.hero-btn {
  color: var(--white);
  /* border-radius: 4px; */
  background: var(--iris);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.hero-btn:hover {
  color: var(--iris);
  text-align: center;
  background-color: var(--cloud);
}
/* заголовки 2 */
.products-title,
.team-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team {
  background-color: var(--cloud);
}
